
/*Beginning of NavBar*/

.header {
    width: 100vw;
    position: fixed;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
#titleName {
    width: 20%;
    margin: 20px 0 20px 0;
    text-align: center;
}

.btns{
  width: 50vh;
  float: right;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

/*About Section*/

.main{
  height: 100%;
  width: 100vw;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info{
  width: 75vw;
  height: 90vh;
  background-color: lightgreen;
  border-bottom: 2px black solid;
  position: relative;

}
.main-info h3{
  width: 75vw;
  text-align: center;
  height: 10vh;
  font-size: 50px;
  color: darkorange;
}
.main-text{
  position: absolute;
  width: 40vw;
  bottom: 180px;
  left: 100px;
}

.main-info img{
  position: absolute;
  right: 100px;
  top: 160px;

}

/* Portfolio Section*/

.my-portfolio{
  width: 75vw;
  height: 90vh;
  background-color: lightblue;
  border-bottom: 2px black solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.my-portfolio h3{
  width: 100vw;
  text-align: center;
  height: 10vh;
  font-size: 50px;
  color: darkorange;
}
.port-example{
  width: 30vw;
  height: 30vh;
}
.port-img{
  width: 100%;
  height: 100%;
}

/*Contact Section*/

.contact-info{
  width: 75vw;
  height: 60vh;
  background-color: lightgray;
}
