body {
    background-color: black;
}
/*NavBar Info*/

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: gray;
}
#titleName {
  width: 30vh;
  float: left;
  text-align: center;
}

.btn1{
  position: fixed;
  top: 20px;
  right: 300px;

}
.btn2{
  position: fixed;
  top: 20px;
  right:200px;
}
.btn3{
  position: fixed;
  top: 20px;
  right:100px;
}

/* Beginning of About Section */
.main-info {
    height: 60vh;
    width: 75vw;
    position: relative;
    top:70px;
    left: 150px;
    background: lightblue;
}
.main-info img {
    max-width: 75em;
    max-height: 75em;
    position:absolute;
    top: 40px;
    right: 100px;
}
.my-info {
    position: absolute;
    top: 110px;
    left: 80px;
}
.about-title{
  height: 10vh;
  width: 20vw;
  position: absolute;
  top: 30px;
  left: 40px;
}

/*.my-portfolio {
    height: 75%;
    width: 75%;
    position: relative;
    top: 380px;
    left: 150px;
    background: lightblue;
}*/
/*.portfolio-title{
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 10px;
    left: 400px;
}

.port-example{
  width: 40vw;
  height: 40vh;
  position: absolute;
  /*background-color: darkgray;*/
/*}
#port1{
  top: 100px;
  left: 60px;
}
#port1 img{
  max-width: 100%;
  max-height: 100%;
}
#port2{
  top: 100px;
  right: 30px;
}
#port2 img{
  max-width: 100%;
  max-height: 100%;
}
#port3{
  bottom: 100px;
  left: 60px;
}
#port3 img{
  max-width: 100%;
  max-height: 100%;
}
#port4{
  bottom: 100px;
  right: 30px;
}
#port4 img{
  max-width: 100%;
  max-height: 100%;
}*/*/
