body {
    background-color: black;
}
/*NavBar Info*/

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: gray;

}
.title{
  height: 10vh;
  position: absolute;
  left: 10px;
}
#titleName {
    text-align: center;
}
.links {
    float: right;
}
.links {
    width: 25vw;
    height: 10vh;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-between;

}
/* Beginning of About Section */
.main-info {
    height: 75vh;
    width: 75vw;
    position: relative;
    top:70px;
    left: 150px;
    background: lightblue;
}
.main-info img {
    max-width: 75em;
    max-height: 75em;
    position:absolute;
    top: 40px;
    right: 100px;
}
.my-info {
    position: absolute;
    top: 110px;
    left: 80px;
}
.about-title{
  height: 10vh;
  width: 20vw;
  position: absolute;
  top: 30px;
  left: 40px;
}

.my-portfolio {
    height: 100vh;
    width: 75vw;
    position: relative;
    top: 80px;
    left: 150px;
    background: lightblue;
}
.portfolio-title{
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 10px;
    left: 400px;
}

.port-example{
  width: 25vw;
  height: 30vh;
  position: absolute;
  /*background-color: darkgray;*/
}
#port1{
  top: 12rem;
  left: 14rem;
  background-image:url("https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b734e103303c5965225682077ee72f86");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
#port2{
  top: 12rem;
  right: 14rem;
  background-image:url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=61282cfeed75871385c84c2a44a8e594");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
#port3{
  bottom: 6rem;
  left: 14rem;
  background-image:url("https://images.unsplash.com/photo-1444842741774-771cf4455a78?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8a3ab90d4d20b1628fa8d6007b100469");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
#port4{
  bottom: 6rem;
  right: 14rem;
  background-image:url("https://images.unsplash.com/photo-1464400694175-33544b41703d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=680f4a54596d9fa9f20a029e297b1360");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
